.content2 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    color:#44034F;
    font-style: normal;
    position: relative;
    font-family:Arima Madurai;;
    &__card{
        width:23vw;
        display: flex;
        flex-direction: column;
        
        justify-content: space-between;
        background-color: white;
    }

    &__cardH1 {
        margin:0;
        padding-top:1em;
        padding-bottom:1em;
        font-size: 100%;
        background-color: black;
        color:white;
    }
    &__cardParagraph {
        margin:0;
        margin-left:5%;
        margin-right:5%;
        padding:0;
        padding-bottom: 1em;
        padding-top: 1em;
        font-size:60%;
        text-align: left;
        font-weight: bolder;
    }
}

@media (max-width: 900px) {
    .content2 {
        flex-direction: column;
        &__card{
            width:70vw;
            margin:20px;
        }
    }
  }