.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arima Madurai;
    font-size: 1em;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    a {
        @include noMargin;
        font-size:0.7em;
        color:rgb(248, 248, 248);
        background-color: rgb(34, 37, 37);
        padding:4px;

    }
    &__title{
        text-align: center;
        background-color: black;
        width: 100%;
        margin-bottom:4em;
    }
    &__titleH1{
        font-weight: light;  
        font-family: Righteous;  
        @include noMargin;
        color:white;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    &__cardsContainer{
        width:95vw;
        display:grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column-gap: 1em;
        grid-row-gap: 1em;

    }
   
    &__card{
        display:grid;
        width:100%;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 100px 200px 80px;
        text-align: center;
        font-size:0.6em;
        background-color: #ffffff2a;
        border-radius: 20px;
        -webkit-box-shadow: -1px 7px 20px 2px rgba(186,179,186,0.87);
        -moz-box-shadow: -1px 7px 20px 2px rgba(186,179,186,0.87);
        box-shadow: -1px 7px 20px 2px rgba(186,179,186,0.87);

    }



    &__cardProjectDescription{
        grid-row:1 / 4   ;
        grid-column:2 /3 ;
        color:rgb(2, 2, 2);
        font-size:1.2em;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius:20px;
  
        p {
            text-align: center;

        }
        
    }
    &__cardTitleH2{
        @include noMargin;
        letter-spacing: 0.1em;
        background-color: rgba(104, 73, 114, 0.774);
        color: white;
        border-top-right-radius: 20px;
        padding-left:0.2em;
        padding-right:0.2em;



    }

    &__cardLinksContainer {
        padding:1em;
        grid-row:3 /4 ;
        grid-column:1 / 2 ;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size:1.5em;
    }
    &__cardLinks:hover{
        background-color: #3d43466e;
        color:black;
    }
    &__cardImgContainer {
        grid-row:1 /3 ;
        grid-column:1 /2 ;
        height:100%;
        img {
            width:100%;
            height:100%;
            border:1px solid rgb(155, 154, 154);
            border-top-left-radius: 20px;
        }
    }
    &__cardTechUsed {
        list-style: none;
        text-align: center;
        display:flex;
        flex-wrap: wrap;
        justify-content: stretch;
        margin:0;
        padding:0;
        color:rgb(0, 0, 0);
        li {
            background-color: rgba(104, 79, 79, 0.438);
            width:50%;
            border-radius:20px;
        }
        li:last-child {
            flex-grow:1;
        }
    }
}


