.content2 {
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap:wrap;
    justify-content: space-evenly;
    width:90vw;
    margin:auto;
    color:#44034F;
    font-style: normal;
    position: relative;
    font-family:Arima Madurai;

    //cards with info
    &__card{
        width:23vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        background-color: white;
        margin-top:3vh;
    }
    &__cardH1 {
        margin:0;
        padding-top:1em;
        padding-bottom:1em;
        font-size: 100%;
        background-color: black;
        color:white;
    }
    &__cardParagraph {
        margin:0;
        margin-left:5%;
        margin-right:5%;
        padding:0;
        padding-bottom: 1em;
        padding-top: 1em;
        font-size:60%;
        text-align: left;
        font-weight: bolder;
    }

}
.self {
    margin:auto;
    margin-top:30vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width:90vw;
    height: 40vh;
    font-size: 0.6em;
    color:#44034F;
    position: relative;
    font-family:Arima Madurai;
    


    &__text {
        padding:40px;
        border:1px solid black;
        width:70%;
        margin:auto;
        display: flex;
        flex-direction: column;
        padding-top:20px;
        background-image: url('../img/codeimg-mobile.png');
        background-size:cover;
        background-position: left;
        color:white;
        letter-spacing: 0.1em;
    }
    &__coursesContainer {
        display: flex;
        width:60vw;
        align-self: center;
    }
    &__courses {
        position: relative;
        top:0.8em;
        margin:0.6em;
        padding:10px;
        background-color:rgb(32, 1, 37);
        color: white;
        border-radius: 10px;
        width:20vw;
        align-self: center;
        a{
            text-decoration: none;
            color: white;
        }
        a:visited{
            color:white;
        }
    }

}

