.nav {
    //flex propertis
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    //sticky nav bar properties
    position: fixed;
    top: 0;
    //size properties
    width: 100%;
    height: 70px;
    margin: 0;
    //colors and whatever
    background: #19181E;
    color:#F2F2F2;
    font-size: 0.8em;
    font-family: Signika;
    z-index:2;
    //nav bar list 
    &__listContainer {
        margin-right:10vw;
    }
    &__list {
        padding:0;
        margin:0;
    }
    &__listItem {
        display: inline;
        margin: 10px;
    }
    //nav bar logo container
    &__logo {
        margin-left:7vw;
        & img{
            border-radius: 30px;
            width: 90%;

        }

    }


}
.content {
    display: grid;
    grid-template-columns: 33.1% 33.1% 33.1% ;
    grid-template-rows: 33vh 33vh 33vh  ;
    margin-top:10vh;
    position: relative;
    width:100%;
    height:100%;
    z-index:0;
    font-family: Signika;
    &__title{
        grid-column: 1 / 3 ;
        grid-row: 1 / 3 ;
    }
    &__projectsLinkContainer {
        position:relative;
        grid-column: 3 / 4 ;
        grid-row: 1 / 2 ;
    }
    &__projectsLink {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__contact {
        grid-column: 1 / 2 ;
        grid-row: 2 / 4 ;
        top:3em;
        left:2em;
        position: relative;
        display:flex;
        flex-direction: column;
        align-items: baseline;
 
    }
    &__icons {
        width:67px;
        height:47px;
    }

}