.nav {
    //flex propertis
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    //sticky nav bar properties
    top: 0;
    //size properties
    width: 80%;
    margin: auto;
    //colors and whatever
    color:#031C50;
    font-size: 1em;
    font-family: Andika;
    z-index:2;
    //nav bar list 
    &__list {
        padding:0;
        margin:0;
    }
    &__listItem {
        display: inline;
        margin: 10px;
    }
    &__listItem--active{
        color:#0A51E5;
    }
    //nav bar logo container
    &__logo {
        & svg{
            width:150px;
            height:13vh;
        }

    }


}

.content {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #031C4F;
    font-family:Amatic SC;
    font-style: normal;
    position: relative;
    &__titleH1 {
        /* I’m Joaquin */
        margin:0;
        font-weight: bold;
        font-size: 4.7em;
        letter-spacing: 0.1em;
    }
    &__titleParagraph {
        /* A self taught web developer */
        font-weight: bold;
        font-size: 48px;
        color: #000000;
        position: relative;
        bottom:50%;
        margin:0;
        letter-spacing: 0.1em;


    }
}