@import "block1";
@import "block2";
body {
    position: absolute;
    width: 100vw;
}
.block1 {
    width:100vw;
    height: 85vh;
    background-repeat:no-repeat;
    background-size: cover;
}

.block2 {
    width:100vw;
    height: 85vh;
}