@import url('https://fonts.googleapis.com/css?family=Arima+Madurai|Righteous&display=swap');
@import "block1";
@import "block2";
@import "block3";


body {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    background-color: #fefbf3;
    margin: 0;
    padding:0;
    overflow-x: hidden; //horizontal
    a {
        color:#44034F;
    }
}

.block1 {

    height: 100vh;
    margin: auto;
    max-width:100vw;
    background-size: cover;

    background-image: url('../img/background.png');
}

.block2 {
    max-width:100vw;
    display: flex;
    margin-top:-2px;
    padding-bottom:20px;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-image: url('../img/background2.png');


}








//Media queries
@media (max-width: 900px) {
    //visual quality changes
    .nav{
        &__listItem{
        margin: 0.2em;
        }
        &__logo{
            & svg{
                width:70px;
                height:13vh;
            }
        }
    }
    .content{
        margin-top: 5vh;
        &__iconsContainer {
            margin-left:0.1em;

        }
    }
    .content2 {
        flex-direction: column;
        &__card{
            width:70vw;
            margin:20px;
        }
    }
    .self {
        margin-top:5vh;
        text-align: center;
        flex-direction: column;
        font-size:0.6em;
        &__img {
            display:none;
        }
        &__coursesContainer {
            flex-direction: column;
            align-self: center;
        }
        &__courses {
            width:30vw;
        }
        &__text {
            background-image: url('../img/codeimg-mobile-tiny.png');
        }
    }

} 