@import url('https://fonts.googleapis.com/css?family=Arima+Madurai|Righteous&display=swap');
@import "block1";
@import "block2";


body {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    background-color: #fefbf3;
    margin: 0;
    padding:0;
    overflow-x: hidden; //horizontal
    a {
        color:#44034F;
    }
}

.block1 {
    width:100vw;
    height: 100vh;
    margin: auto;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    background-image: url('../img/background.png');
}

.block2 {
    margin: auto;
    width:100vw;
    height:1500px;
    background-size: cover;
    text-align: center;
    background-image: url('../img/background2.png');
    
}










//Media queries
@media (max-width: 900px) {

    .block2{
        height:1500px;
    }
    .content{
        margin-top: 5vh;
        &__iconsContainer {
            margin-left:0.1em;

        }

    }
    .content2 {
        flex-direction: column;
        &__card{
            width:70vw;
            margin:20px;
        }

    }
    .self {
        width:90vw;
        margin:auto;
        margin-top:5vh;
        text-align: center;
        height:60vh;
        flex-direction: column;

        &__img {
            display:none;
        }

        &__coursesContainer {
            flex-direction: column;
            align-self: center;

        }
        &__courses {
            width:30vw;
        }
    }
  }