@charset "UTF-8";
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  width: 100vw;
  margin: auto;
  color: #44034F;
  font-size: 0.9em;
  font-family: Arima Madurai;
  text-align: center;
  z-index: 2;
}

.nav__list {
  padding: 0;
  margin: 0;
}

.nav__listItem {
  display: inline;
  margin: 1em;
}

.nav__listItem a {
  text-decoration: none;
}

.nav__listItem a:visited {
  color: #44034F;
}

.nav__logo svg {
  width: 100px;
  height: 13vh;
}

.content {
  margin-top: 10vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr 0.5fr 1fr;
      grid-template-rows: 2fr 0.5fr 1fr;
  -ms-grid-columns: 1fr 6% 2fr 6% 1fr;
      grid-template-columns: 1fr 6% 2fr 6% 1fr;
  text-align: center;
  width: 100vw;
  color: #44034F;
  font-style: normal;
  font-family: Arima Madurai;
  position: relative;
}

.content__titleContainer {
  text-align: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 /  2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

.content__titleH1 {
  /* I’m Joaquin */
  margin: 0;
  font-size: 3.5em;
  font-family: Righteous;
  font-weight: lighter;
  letter-spacing: 0.01em;
}

.content__titleParagraph {
  /* A self taught web developer */
  font-size: 1.1em;
  color: #000000;
  margin-top: 3vh;
}

.content__buttonContainer {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 /  3;
  margin-top: 3em;
}

.content__button {
  text-decoration: none;
  background-color: white;
  border-radius: 20px;
  padding: 2px 10px 2px 10px;
  font-weight: bold;
  color: #44034F;
  /* Rectangle 1 */
  -webkit-box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
}

.content__button:active {
  background-color: #44034F;
  color: white;
}

.content__button:visited {
  color: #44034F;
}

.content__iconsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  margin-left: 0.5em;
  z-index: 3;
}

.content__icon {
  width: 1.5em;
  margin: 2px;
  height: 1.5em;
}

.content__icon img {
  width: 100%;
}

.content2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  color: #44034F;
  font-style: normal;
  position: relative;
  font-family: Arima Madurai;
}

.content2__card {
  width: 23vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  background-color: white;
  margin-top: 3vh;
}

.content2__cardH1 {
  margin: 0;
  padding: 1em;
  font-size: 100%;
  background-color: black;
  color: white;
}

.content2__cardParagraph {
  margin: 0;
  margin-left: 5%;
  margin-right: 5%;
  padding: 0;
  padding-bottom: 1em;
  padding-top: 1em;
  font-size: 60%;
  text-align: left;
  font-weight: bolder;
}

.self {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  height: 800px;
  font-size: 0.6em;
  color: #44034F;
  position: relative;
  font-family: Arima Madurai;
}

.self__text {
  padding: 40px;
  border: 1px solid black;
  width: 70%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  background-image: url("../img/codeimg-mobile.png");
  background-size: cover;
  background-position: left;
  color: white;
  letter-spacing: 0.1em;
}

.self__coursesContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 50vw;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
}

.self__courses {
  position: relative;
  top: 0.8em;
  margin: 0.6em;
  padding: 10px;
  background-color: #200125;
  color: white;
  border-radius: 10px;
  width: 20vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.self__courses a {
  text-decoration: none;
  color: white;
}

.self__courses a:visited {
  color: white;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arima Madurai;
  font-size: 1em;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.projects p {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  font-family: Arima Madurai;
}

.projects a {
  margin: 0;
  padding: 0;
  font-size: 0.7em;
  color: white;
}

.projects__title {
  text-align: center;
  background-color: black;
  width: 100%;
  margin-bottom: 4em;
}

.projects__titleH1 {
  font-weight: light;
  margin: 0;
  padding: 0;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}

.projects__cardsContainer {
  width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.projects__card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 45%;
      grid-template-columns: 1fr 45%;
  -ms-grid-rows: 0.3fr 1.7fr 0.3fr;
      grid-template-rows: 0.3fr 1.7fr 0.3fr;
  text-align: center;
  font-size: 0.6em;
  border: 1px solid black;
  position: relative;
  margin-bottom: 10vh;
  background-color: black;
  padding: 0;
}

.projects__cardTitleContainer {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects__cardTitleH2 {
  margin: 0;
  padding: 0;
  color: white;
  letter-spacing: 0.1em;
}

.projects__cardProjectDescription {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  text-align: left;
  height: 100%;
  color: #44034F;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  padding: 0 1em 0 1em;
  font-size: 1.4vw;
  line-height: 1.6em;
}

.projects__cardTechUsed {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  padding: 1em;
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.projects__cardLinksContainer {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  background-color: black;
  padding: 1em;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  justify-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1.5em;
}

.projects__cardLinks:hover {
  color: #a005bb;
}

.projects__cardImgContainer {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  border-left: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects__cardImgContainer img {
  width: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background-color: #440d3f;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body a {
  color: #44034F;
}

.block1 {
  height: 90vh;
  margin: auto;
  min-width: 100vw;
  background-size: cover;
  background-image: url("../img/background.png");
  z-index: 3;
}

.block2 {
  min-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -2px;
  padding-bottom: 20vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-image: url("../img/background2.png");
}

.block3 {
  min-width: 100vw;
  position: relative;
  top: -0.5vh;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #c31432;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left bottom, left top, from(#440d3f), to(#6c6788));
  background: linear-gradient(to top, #440d3f, #6c6788);
}

@media (max-width: 900px) {
  .block2 {
    padding-bottom: 10vh;
  }
  .nav__listItem {
    margin: 0.2em;
  }
  .nav__logo svg {
    width: 70px;
    height: 13vh;
  }
  .content {
    margin-top: 5vh;
  }
  .content__iconsContainer {
    margin-left: 0.1em;
  }
  .content2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content2__card {
    width: 70vw;
    margin: 20px;
  }
  .self {
    margin-top: 5vh;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 0.6em;
  }
  .self__img {
    display: none;
  }
  .self__coursesContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .self__courses {
    width: 30vw;
  }
  .self__text {
    background-image: url("../img/codeimg-mobile-tiny.png");
  }
  .projects__cardsContainer {
    width: 90vw;
  }
  .projects__cardProjectDescription {
    line-height: 1.3em;
    font-size: 1em;
  }
}

@media (min-width: 1500px) {
  .block2 {
    height: 100vh;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .block2 .self {
    margin-top: 20vh;
  }
}

@media (max-width: 500px) {
  .projects__card {
    -ms-grid-columns: 1fr 45%;
        grid-template-columns: 1fr 45%;
    -ms-grid-rows: 10vh 0.8fr 1fr 10vh;
        grid-template-rows: 10vh 0.8fr 1fr 10vh;
    font-size: 0.8em;
    background-color: white;
  }
  .projects__cardProjectDescription {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    line-height: 1.7em;
    padding-top: 1em;
  }
  .projects__cardImgContainer {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    border: 0;
    height: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .projects__cardTechUsed {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .projects__cardLinksContainer {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    font-size: 1em;
    padding: 0em;
    border-left: 1px solid white;
  }
}

@media (max-width: 332px) {
  .projects__card {
    -ms-grid-rows: 10vh 2fr 1.5fr 10vh;
        grid-template-rows: 10vh 2fr 1.5fr 10vh;
    font-size: 0.8em;
  }
}
/*# sourceMappingURL=style.css.map */